
* {
	box-sizing: border-box;
}
*::before,
*::after {
	box-sizing: border-box;
}
img {
	max-width: 100%;
}



.list-reset {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.btn-reset {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-family: var(--font-family);

}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins-Medium';
	src: url('../fonts/Poppins-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins-SemiBold';
	src: url('../fonts/Poppins-SemiBold.woff') format('woff');
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins-Bold';
	src: url('../fonts/Poppins-Bold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

/*глобальная переменная*/
:root {
	--font-family: 'Poppins', sans-serif;
}

body {
	font-family: var(--font-family);
	font-weight: 400;
}

/*стилизация*/

.hero {
	background-image: url(../img/Hero.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 189px;
	padding-bottom: 100px;
	min-height: 811px;
}


.link {
	display: inline-flex;
	font-weight: 700;
	font-size: 16px;
	line-height: 1;
	color: #d4d6d4;
	text-decoration: none;
	transition: color 0.3s ease-in-out;

}

.link svg {
	fill: currentColor;
	width: 12px;
	height: 12px;
	transform: translateY(1px);

}

.link span {
	text-indent: 10px;
	border-bottom: 1px solid currentColor;
}

.link:hover {
	color: #FFD723;
}

.site-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 46px;
	color: #4D533C;
}
.servised {
	margin-bottom: -180px;
	padding-top: 150px;
	padding-bottom: 150px;
}

.header {
	padding-top: 24px;
	padding-bottom: 24px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.burger {
	--offset-horizontal: 11px;
	--offset-vertical: 14px;
	position: relative;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	background: #f5f6f7;
	padding: var(--offset-vertical) var(--offset-horizontal);
	line-height: 4px;
}

.burger-line {
	background-color: #000;
	display: inline-block;
	width: calc(100% - (var(--offset-horizontal) * 2));
	height: 2px;
	position: absolute;
	top: var(--offset-vertical);
	left: 50%;
	transform: translateX(-50%);
}

.burger-line:nth-child(2) {
	top: calc(var(--offset-vertical) + 6px);
}
.burger-line:nth-child(3) {
	top: calc(var(--offset-vertical) + 12px);
}

.container {
	max-width: 1140px;
	padding: 0 15px;
	margin: 0 auto;
}

.hero-subtitle {
	display: inline-block;
	margin-bottom: 22px;
font-size: 14px;
line-height: 21px;
}

.hero-title {
	margin: 0;
	margin-bottom: 24px;
	font-weight: 700;
	font-size: 60px;
	line-height: 74px;

}

.hero-content {
	max-width: 616px;
	color: #fff;
}

.hero-descrip {
	margin: 0;
	margin-bottom: 45px;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
}

.hero-link {
	color: #FFD723;
}

.servises-title {
	max-width: 606px;
	margin: 0;
	margin-bottom: 60px;
}

.servises-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
}

.servises-subtitle {
	margin: 0;
	margin-bottom: 20px;
	max-width: 183px;
	font-weight: 500;
	font-size: 24px;
	line-height: 34px;
	text-transform: uppercase;
	color: #4D533C;
}

.servises-descript {
	margin: 0;
	margin-bottom: 56px;
	font-weight: 500;
	font-size: 14px;
	line-height: 26px;
	color: rgba(33, 56, 66, 0.6);
	max-width: 194px;
}

.servises-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.servises-link {
	margin-bottom: 0;
	margin-top: auto;
}
.get-started {
	position: relative;
	top: 180px;
	background-color: #fafafa;
	width: 88%;
	padding: 70px 0;
	box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.1459);
}

.get-started-title {
	margin: 0px;
	margin-bottom: 50px;
	max-width: 822px;
	font-weight: 700;
	Font-size: 60px;
	Line-height: 74px;
	color: #4D533C;

}

.get-started-link {
	text-transform: uppercase;
}

.footer{
	color: #fff;
	padding-top: 300px;
	background-image: url(../img/footer-Bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.footer-top {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 52px;
	border-bottom: 1px solid #5D6544;
}

.footer-contacts-item:not(:last-child) {
	margin-right: 128px;
}
 {

}

.footer-contacts-text {
	display: block;
	margin-bottom: 8px;
	Font-size: 16px;
	Line-height: 40px;
	color: #B6C197;
}

.footer-contacts-value {
	display: inline-block;
	font-weight: 700;
	font-style: normal;
	Font-size: 16px;
	Line-height: 40px;
	color: #fff;
	text-decoration: none;
}

.footer-middle {
	--grid-gap: 70px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: var(--grid-gap);
	padding: 60px 0;
	border-bottom: 1px solid #5D6544;
}

.footer-colum:last-child {
	position: relative;
}
.footer-colum:last-child::before {
	content: "";
	position: absolute;
	top: 0;
	left: calc(-1 * (var(--grid-gap)));
	width: 1px;
	height: 100%;
	background-color: #5D6544 ;
}

.footer-title {
	margin: 0;
	margin-bottom: 21px;
	font-weight: 600;
	Font-size: 16px;
	Line-height: 38px;
	color: #fff;
	text-transform: uppercase;
}
.footer-link {
	Font-size: 16px;
	Line-height: 40px;
	color: #B6C197;
	text-decoration: none;
	display: inline-block;
}

.footer-text {
	margin: 0;
	margin-bottom: 23px;
	Font-size: 16px;
	Line-height: 26px;
	color: #B6C197;
}
.footer-mail {
	display: inline-block;
	margin-bottom: 24px;
	font-weight: 700;
	Font-size: 24px;
	Line-height: 38px;
	color: #FFFFFF;
	text-transform: none;
}

.social {
	display: flex;
	align-items: center;

}

.cocial-link {
	display: block;
	border-radius: 100%;
	width: 33px;
	height: 33px;
	background-color: #ffd723;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 18px auto;
	opacity: 0.4;
	transition: opacity 0.3s ease-in-out;
}

.cocial-link:hover {
	opacity: 1;
}

.social-item:not(:last-child) {
	margin-right: 11px;
}

.social-link-fb {
	background-image: url('../img/facebook.png');
}

.social-link-tw{
	background-image: url('../img/twitter.png');
}

.social-link-g {
	background-image: url('../img/google-plus.png');
}

.social-link-in {
	background-image: url('../img/linkedin.png');
}

.copyright {
	Font-size: 14px;
	Line-height: 21px;
	color: #B5C096;
}

.footer-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 24px 0;
}

@media (max-width: 992px) {
	.servises-list {
	grid-template-columns: repeat(2, 1fr);
	gap: 50px;
	}

	.servises-subtitle {
		max-width: none;
	}

	.servises-descript {
		max-width: none;
	}
}

@media (max-width: 768px) {
	
}

@media (max-width: 576px) {
	
}

@media (max-width: 375px) {
	
}