body {
	font-family: serif; Arial, Tahoma, sans-serif;
	font-size: 15px;
}
h1 {
	color: red;
}
.new span {
	color: red;
}
h2 {
	background: green;
	color: white;
}
#block {
	background: blue;
	color: white;
	width: 100px;
	height: 80px;
	margin-bottom: 100px;
}
img {
	max-width: 150px;
	max-height: 150px;
}
ul {

}
li {
	font-size: 25px;
	border: 1px solid black;
}
.new_ {
	padding: 50px; 
}
.one {
	padding-left: 50px;
}

