/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

body{
  font-family: lato, "Helvetica Neue", Helvetica, sans-serif;
  min-width: 1170px;
}

.preview {
  background: url('../img/BG-Header.png') center no-repeat;
  
}
.preview__wrap {
  max-width: 760px;
  margin: 0 auto;


}
.preview__row {
display:flex;
flex-direction:column;
align-items: center;
}

.preview__logo {
  background: url('../img/Logo.png') center no-repeat;
  width: 196px;
  height: 124px;
  margin-top: 165px;

}
.
.preview__title {
 
}
.preview__title-text {
  font-size: 34px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #fff;
  text-align: center;
  margin-top: 160px;
 
}
.preview_title-subtitle {
  font-size: 26px;
  letter-spacing: 2.5px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
   position: relative;
  
}
.preview_title-subtitle:after{
  content: '';
  position: absolute;
  width: 105px;
  height: 1px;
  left: 50%;
  background-color: #fff;
  margin: 0px 0px 0px -50px;
  top: 70px;
}
.preview__btn {
  border: #fff solid;
  width: 183px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 277px;
  position: relative;
  margin-bottom: 235px;
}
.preview__btn:after{
  content: '';
  position: absolute;
  background: url('../img/Arrow-down.png') center no-repeat;
  width: 17px;
  height: 10px;
  left: 50%;
  margin: 0px 0px 0px -5px;
  top: 122px;
}

.preview__btn:hover{
  color: #ada074;
    border: #ada074 solid;
}

.navigation {
  border-bottom: 1px solid #f2f2f2;
    margin-bottom: 130px;
}

.navigation__wrapper {
  max-width: 385px;
  margin: 0 auto;
}
.navigation_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  text-transform: uppercase;
  height: 60px;
}


.navigation_menu a {
  color: #3c3c3c;
}
.navigation_menu a:first-child{
  color: #ada074;
}
.navigation_menu a:hover{
  color:#ada074 ;
}
.title {
  font-size: 34px;
  font-family: Lato;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  text-align: center;
  position: relative;
  padding: 0px 0px 30px 0px;
}
.title:after {
  content: '';
  position: absolute;
  width: 50px;
  bottom: 0;
  height: 1px;
  left: 50%;
  background-color: #000;
  margin: 0px 0px 0px -25px;
}

.about__title {
  margin: 0px 0px 30px 0px;
}

.about__body {
  max-width: 823px;
  margin: 0 auto;
}

.about__header {
  margin: 0px 0px 65px 0px;
}

.about__text {
  font-size: 14px;
  font-weight: 300;
  color: #868585;
  text-align: center;
  line-height: 26px;
  max-width: 688px;
  margin: 0 auto;

}

.about__row {
  display: flex;
  margin: 0 -15px;

}

.about__column {
  display: flex;
  padding: 0 15px;
  flex: 0 0 33.333%;
}

.item-about__icon {
  height: 92px;
  width: 92px;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto 40px auto;

}

.item-about__title {
  font-size: 22px;
  text-transform: uppercase;
  color: #000;
  text-align: center;
  margin: 0px 0px 37px 0px;
  letter-spacing: 3.52px;
  position: relative;
}

.item-about__text {
  font-weight: 300;
  font-size: 14px;
  color: #868585;
  line-height: 26px;
  text-align: center;
  margin-bottom: 95px;
}

.portfollio__body {
  background-color: #f3f3f3;
}

.portfollio__container {
  max-width: 1100px;
  margin: 0 auto;
  padding-bottom: 65px;

}

.portfollio__title {
  padding-top: 107px;
 }
.portfollio__wrapper-nav {
  max-width: 260px;
  margin: 0 auto;
}
.portfollio__nav {
  margin-top: 90px;
 display:flex;
justify-content:space-between;
 
 }

 .portfollio__wrapper-nav a {
  color: #3c3c3c;
  font-size: 15px;
  text-transform: uppercase;
 }
 .portfollio__wrapper-nav a:first-child{
  color: #ada074;
}
.portfollio__wrapper-nav a:hover{
  color:#ada074 ;
}

.portfollio__row {
  display: flex;
  flex-wrap: wrap;

  margin: -10px -15px;
  margin-top: 135px;

}

.portfollio__card {
  flex: 0 1 50%;
  padding: 10px 15px;
}

.portfollio__content {
 background-color: #eaeaea;
 height: 360px;
}

.portfollio__btn {
  border: #000 solid;
  width: 183px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  margin: 0 auto;
  margin-top: 65px;

}

.portfollio__btn:hover{
  color: #ada074;
  border: #ada074 solid;
}

.partners__body {
  background: url('../img/partners/BG-Header copy.png') bottom left no-repeat;
  height: 390px;

}
.partners__container {
    width: 1100px;
    margin: 0 auto;
}

.partners__title {
  text-align: center;
  color: #fff;
  font-size: 31px;
  letter-spacing: 2px;
  font-weight: 300;
  padding-top: 100px;
}

.partners__title_text {
}

.partners-logo__row {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}

.contacts__container {
  width: 1100px;
  margin: 0 auto;
}

.contacts__title {
  margin-top: 150px;
}
.contacts__form {
 max-width: 450px;
  margin-top: 165px;
}


.your_name  {
  display: block;
  width: 100%;
  height: 35px;
  background: #f8f7f7;
  border-top: solid #000;
}

.your_email  {
  display: block;
  width: 100%;
  height: 35px;
  background: #f8f7f7;
  border-top: solid #000;
}

.your_message {
  display: block;
  width: 100%;
  height: 120px;
  background: #f8f7f7;
  border-top: solid #000;
}

.contacts-form__row {
display:flex;
margin: 0 -30px;
flex-wrap:wrap;
}

.contacts__form-form {
  padding: 0 30px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.contacts__form-form_your_name {
flex: 0 1 50%;

}

.contacts__form-form_your_email {
flex: 0 1 50%;
}

.contacts__form-form_your_message {
flex: 0 1 100%;
margin-top: 80px;
}

.contacts__form-form_btn {
 display: inline-block;
 margin-left: 400px;
 margin-top: 40px;


}

.contacts__btn {
  font-size: 14px;
  background-color: #fff;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.contacts__btn:hover {
  color: #ada074;

}

input, textarea{
  margin-top: 20px;

}

.contacts__information {
  max-width: 260px;
  margin-top: 165px;
  margin-left: 82px;
}

.wrapper__contacts {
  padding-bottom: 100px;
  display: flex;
}

.tex-contax {
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;

}
span {
 font-weight: 700; 
}

.contacts__cocial_name {
  margin-top: 42px;
}

.contacts__cocial_social {
  margin-top: 25px;
  max-width: 75px;
  display: flex;
  justify-content: space-between;

}
.contacts__cocial_email {
  margin-top: 18px;
}

.footer__body {
  background-color: #3c3c3c;

}
.footer__container {
  max-width: 1100px;
  margin: 0 auto;
  display:flex;
  flex-direction:column;
  align-items: center;

}
.footer__logo {
  margin-top: 50px;
  background: url('../img/Layer 33 copy 3.png') center no-repeat;
  width: 124px;
  height: 82px;
}
.footer__social a {
  color: #a4a4a4;
  margin-right: 15px;
  font-size: 14px;
}
.footer__social a:hover{
color: #ada074;
}
.footer__social {
  max-width: 280px;
  margin-top: 40px;

}
.footer__right {
  margin-top: 32px;
  padding-bottom: 50px;
  color: #6c6c6c;
  font-size: 14px;
}