<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>дз1</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
</head>

<body>

    <script>

        window.onload = function () {
            let sample = new Vue({
                el: '#app',
                data: {
                    search: " ",
                    history: " "
                },
                methods: {

                    historySearch: function () {
                        this.history += 'ви шукали:' + this.search + '".\n"'

                    },

                    deleteSearch: function () {
                        this.history = ""
                    }
                },
            })
        }
    </script>
    <div id="app">
        <p>Тест ввода информации</p>
        <label for="inp">
            <textarea type="search" id="inp" cols="20" rows="5" v-model.trim.lazy="history"
                placeholder="поиск..."></textarea>
        </label>
        <p>
        <p>Что мы ищем: </p>
        <textarea type="text" cols="50" rows="4">{{history}}</textarea>
        </p><p>
            <button v-on:click="deleteSearch">удалить поиск</button>
        </p>
    </div>

</body>

</html>