<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>дз3</title>
    <!-- Bootstrap CSS (jsDelivr CDN) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
</head>

<body>
    <script>
        window.onload = function () {
            var sample = new Vue({
                el: '#app',
                data: {
                    timeLocal: '',
                    historyMouse: ''


                },
                methods: {
                    showButtons: function () {
                        document.querySelector('.buttons').style.display = 'block'
                    },

                    showTime: function () {
                        this.timeLocal = new Date().toLocaleTimeString() + '\n'

                    },


                    logMouseEvent: function (e, eventName) {
                        this.historyMouse = '';
                        let buttonMouse = '';
                        if (e.button === 0) {
                            buttonMouse = 'ліва';
                        }
                        if (e.button === 1) {
                            buttonMouse = 'середня';
                        }
                        if (e.button === 2) {

                            buttonMouse = 'права'
                        }
                        this.historyMouse += buttonMouse + ' кнопка була натиснута.\n'

                    }
                },
            })
        }
    </script>

    <div class="text-center" id="app">
        <button v-on:click="showButtons">Тисни....</button>

        <div class="buttons">
            <button v-on:contextmenu.prevent="logMouseEvent" v-on:mouseup="logMouseEvent" class="mause">Подія
                "миші"</button>
            <button v-on:click="showTime" class="time">Показати час</button>
        </div>

        <div>
            <p>{{timeLocal}} </p>
            <p>{{historyMouse}}</p>
        </div>
    </div>




    <style>
        button {
            width: 500px;
            height: 100px;
            text-align: center;
            border-radius: 5px;
            border: solid 1px greenyellow;
            background-color: rgb(65, 217, 65);
            margin-top: 100px;
            margin-bottom: 50px;
            font-size: 25px;
        }

        .mause {
            width: 500px;
            height: 100px;
            text-align: center;
            border-radius: 5px;
            border: solid 1px rgb(131, 156, 198);
            background-color: rgb(65, 98, 217);
            margin-top: 70px;
            margin-bottom: 50px;
            font-size: 25px;
        }

        .time {
            width: 500px;
            height: 100px;
            text-align: center;
            border-radius: 5px;
            border: solid 1px rgb(222, 122, 55);
            background-color: rgb(223, 80, 28);
            margin-top: 70px;
            margin-bottom: 50px;
            font-size: 25px;
        }

        .buttons {
            display: none;
        }


        p {
            background-color: rgb(210, 251, 248);
            border-radius: 5px;
            font-size: 18px;
            min-height: 50px;
            width: 500px;
            margin-left: auto;
            margin-right: auto;

        }
    </style>
</body>

</html>