<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>дз2</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
</head>

<body>

    <script>
        window.onload = function () {
            var sample = new Vue({
                el: '#app',
                data: {
                    search: '',
                    history: '',
                    paragraf: '',
                    inputcolor: {
                        backgroundColor: 'aquamarine',
                        width: '300px'
                    },

                },
                methods: {
                    historySearch: function () {
                        this.history += this.search;
                        this.search = '';
                        this.paragraf += this.history + '\n'
                        document.querySelector('input').style.backgroundColor = 'white'

                    }
                },
            })
        }
    </script>

    <div id="app">
        <label for="input">
            <input type="text" v-bind:style="inputcolor" v-model="search" placeholder="пошук...">
        </label>
        <button v-on:click="historySearch">пошук</button>
        <div>
            <p v-bind:style="inputcolor" class="paragraf">{{paragraf}}</p>
        </div>

    </div>
</body>

</html>