@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-bottom: 2px solid #f7f7f7;
    height: 70px;
}

.header h1 {
    margin: 0;
    padding: 0;
    line-height: 0;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.id-product {
    display:;
}

.cart {
    padding: 10px;
    background: #f7f7f7;
    min-height: calc(100vh - 72px);
}

.cart .cart-header {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.catalog .catalog-header {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}
.products-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}
ul.products {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

ul li {
    list-style: none;
    margin: 20px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid gray;
}

.buy {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    background: aquamarine;
    border: 1px solid #50eab6;
    border-radius: 3px;
}
.buy:hover {
    background: #50eab6;
    cursor: pointer;
    transform: scale(1.03);
}
.cart-total, .cart-content {
    padding: 10px;
}
.button-buy {
    display: block;
    width: 95%;
    margin: 0 auto;
}
.button-order {
    height: 40px;
    font-size: 18px;
}

.btn-add, .btn-clear {
    height: 30px;
    width: 30px;
    border-radius: 3px;
    border: 1px solid gray;
}
.btn-clear:hover {
    cursor: pointer;
    transform: scale(1.03);
    border: 1px solid#50eab6;
}
.btn-add:hover {
    cursor: pointer;
    transform: scale(1.03);
    border: 1px solid#50eab6;
}
.quanty-cart {
    padding: 7px;
}
.img-cart {
    height: 80px;
    width: 80px;
    background-image: url('../img/2.jpg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.img-cart:hover {
    cursor: pointer;
}
.delete-content-cart {
    height: 30px;
    width: 30px;
    background-image: url('../img/remove.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;

}
.delete-content-cart:hover {
    cursor: pointer;
}
.content-product {
    padding : 0 10px;
    
    
}
.cart-content-wrapper {
    display: flex;
    justify-content:space-between;
    padding: 10px 0;

}
.cart-empty {
    text-align: center;
}
