body {
	font-family: open sans, sans-serif; 
	font-size: 16px;
	color: #201b2d;
	padding: 0;
	margin: 0;

}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: ubuntu;
	font-weight: 700;	

	}
h2 {
	text-align: center;
}

p {
	line-height: 1.65em;
}
.container { 
	width: 1170px;
	margin: 0 auto;
}
.header {
	background: rgba(78,189,254,1);
	background: -moz-linear-gradient(left, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(78,189,254,1)), color-stop(100%, rgba(55,144,217,1)));
	background: -webkit-linear-gradient(left, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -o-linear-gradient(left, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -ms-linear-gradient(left, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
	background: linear-gradient(to right, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ebdfe', endColorstr='#3790d9', GradientType=1 );
	padding-top: 60px;
	color: #ffffff;
	padding-bottom: 143px;
}
.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.offer {
	width: 565px;
}
.title {
	font-size: 37px;
}
.title span {
	font-size: 59px;
}
.intro {
	margin-bottom: 45px;
	margin-top: 50px;
	width: 400px;
}
.btn {
	background: #ffd429;
	color: #2e2a1b;
	font-family:'Montserrat', serif;
	font-weight: 900;
	display: block;
	width: 222px;
	padding: 22px 0;
	border-radius: 0px;
	text-align: center;
	text-decoration: none;
}  
.btn:hover {
	background: #e9c122;
	color: #2e2a1b;
	transition: all 0.5s ease;

}
.bagaj {
	margin-top: 57px;
}
.section-title {
	font-size: 30px;
	text-align: center;

}
.future {
	padding-top: 110px;
	padding-bottom: 120px;
}
.times {
	display: flex;
	justify-content: space-between;
	margin-top: 84px;



}
.time {
	width: 350px;
	background: url('../img/icons1.jpg') no-repeat center top;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
}
.time-title {
	font-size: 19px;
	margin-top: 90px;

}
.time-text {
	margin-top: 22px;
	/*width: 310px;*/
	width: auto;
}
.time-travel {
	width: 265px;
	background: url('../img/icons2.jpg') no-repeat center top;
}
.time-values {
	background: url('../img/icons3.jpg') no-repeat center top;
}

.mail {
	background: #ecf3f8;
	padding-top: 105px;
	padding-bottom: 100px;
	text-align: center;
}
.input {
	width: 100%;
	height: 47px;
	border: 1px solid #bbbbbb;   
	font-size: 15px;
	font-family: 'ubuntu' sans-serif;
	font-weight: 400;
	padding-left: 25px;
}
.name {
	margin-bottom: 16px;
	width: 340px;
	height: 47px;
	border: 1px solid #bbbbbb;   
	font-size: 15px;
	font-family: 'ubuntu' sans-serif;
	font-weight: 400;
	padding-left: 25px;
}
.email {
	margin-bottom: 16px;
	width: 340px;
	height: 47px;
	border: 1px solid #bbbbbb;   
	font-size: 15px;
	font-family: 'ubuntu' sans-serif;
	font-weight: 400;
	padding-left: 25px;
}
.phone {
	margin-bottom: 16px;
	width: 340px;
	height: 47px;
	border: 1px solid #bbbbbb;   
	font-size: 15px;
	font-family: 'ubuntu' sans-serif;
	font-weight: 400;
	padding-left: 25px;
}
.form {
	max-width: 340px;
	margin: 0 auto;
	padding-top: 60px;
}
.btn-form {
	border: 1px;
	cursor: pointer;
	width: 370px;
	height: 55px
	text-align: center;
	
}

.footer {
	padding: 63px 0;
	text-align: center;
	background: #164d7a;
}
.credits {
	font-size: 14px;
	font-family: 'open sans' sans-serif;
	font-weight: 400;
	color: #dee3e8;
}

/*Responsive*/


/* 992px - 1200px */
@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}
	.future {
		text-align: center;
	}
	.footer {
		padding: 3% 0;
	}
	.header {
		padding-bottom: 150px;
		padding-top: 45;
	}
	P {
		width: auto;
	}
	
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}
	.logo {
		padding-bottom: 80px;
		display: block;
	    margin-left: auto;
	    margin-right: auto 
	}
	.title {
		text-align: center;
	}
	.intro{
		text-align: center;
	}
	
	.time-text {
		text-align: center;
	}
	.wrapper {
		flex-direction: column;
	}
	.offer {
		width: 100%;
	}
	.intro {
		width: auto;
	}
	.bagaj {
		display: block;
	    width: 641px;
	    margin: 72px auto 0;
	}
	.times {
		flex-direction: column;
		
	}
	.time {
		width: auto;
		margin-bottom: 50px;
	}
	
	.btn {
		display: block;
		margin: 0 auto;
		width: 370px;
	}
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}
	.bagaj {
		width: 100%;
	}
	.input {
		width: 100%;
	}
	   
	 .header {
	  	padding-bottom: 70px;
		padding-top: 70px;
	  }
	.logo {
		padding-bottom: 50px
		}
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}
	.btn {
		width: 100%
	}
	.name {
		width: 90%;
	}
	.email {
		width: 90%;
	}
	.phone {
		width: 90%;
	}
	.future {
		padding-top: 70px;
		padding-bottom: 50px;
	}
	.logo {
		padding-bottom: 30px
	}
	.title {
		font-size: 25px;
	}
	.title span {
		font-size: 49px;
	}
	.section-title {
		font-size: 27px;
	}
}
