<script setup lang="ts">
import { RouterView } from 'vue-router'
import TheHeader from '@/components/layout/TheHeader.vue'
import TheServiceArria from './components/layout/TheServiceArria.vue'
import TheFooter from './components/layout/TheFooter.vue'

</script>

<template>
  <TheHeader />

  <main class="main-wrapper">
    <RouterView />
  </main>
  <TheServiceArria />
  <TheFooter />



</template>


