/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	}

h1{
	color: #445164;
	font-size: 30px;
}
h2{
	color:#445164;
	font-size: 25px;
}
.text{
	color: #333333;
	line-height: 25px;

}
.bold{
	color: #333333;
	font-weight: bold;
}
.red{
	color: red;
}
h3 {
	color: #445161;
	font-size: 20px;
}
.text-algin-right {
	text-align: right;
	font-size: 14px;
}
.text-transform {
	text-transform: uppercase;
}
.fount-stile {
	font-style: italic;
}
.text-decoration {
	text-decoration: underline;
}
.text-algin-centre {
	text-align: center;
	font-size: 14px;
}
.word-spacing {
	word-spacing: 8px;
	font-size: 24px;
	color: #333333;
	letter-spacing: 1px;
}
.text-decoration-line-through {
	text-decoration: line-through;
}
.fount-family {
	font-family: "Times New Roman";
}
.shadow {
	text-shadow: 1px 1px 1px #000;
}