<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task 04</title>
    <style>
       body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }

        td, th {
            padding: 8px;
        }
    </style>
</head>

<body>
    <table>
        
    </table>

    <template id="templateTabl">
        <tr>
            <td>{{month}}</td>
            <td>{{amount}}</td>
        </tr>
    </template>

  
    <script src="mustache.min.js"></script>
    <script>
        /*
        Задание:
        Создайте шаблон и выведите содержимое массива source в таблице на текущей странице.
        Свойство month должно выводиться в первый столбец, а свойство amount во второй столбец таблицы.
        Количество строк таблицы должно соответствовать количеству элементов массива source. Используйте любой удобный способ работы с шаблонами.
        */

        let source = [
            {
                month: "Январь",
                amount: 20
            },
            {
                month: "Февраль",
                amount: 140
            },
            {
                month: "Март",
                amount: 115
            },
            {
                month: "Апрель",
                amount: 100
            },
            {
                month: "Март",
                amount: 80
            },
            {
                month: "Июнь",
                amount: 90
            },
            {
                month: "Июль",
                amount: 100
            }
        ];
        
        let templateTabl = document.querySelector("#templateTabl");
        let table = document.querySelector("table")

        for(let i = 0; i < source.length; i++) {
            let sources = source[i];
            
            let renderSource = Mustache.render(templateTabl, sources);
          
            table.innerHTML += renderSource;
            //table.insertAdjacentHTML("beforeend", renderSource);
        }

    </script>
</body>

</html>