<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <title>урок1</title>
      <!-- Bootstrap CSS (jsDelivr CDN) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
    <style>
        .slide-enter{
            opacity: 0;
        }

        .slide-enter-active{
            transition: opcity 0.5s;

        }

        .slide-leave-active{
            transition: opacity 0.5s;

        }

        .slide-leave-to{
            opacity: 0;
        }
    </style>
 
   
</head>

<body>
    <div class="wrapper">
        <div class="sample">
            <button class="btn btn-primary" 
                v-on:click="showH2 = !showH2"
                >
                Toggle header
            </button>
            <hr>
            <app-progress v-bind:val="sum" 
                          v-bind:max="maxNumbers * 5">
            </app-progress>
            <hr>
            <transition name="slide">
                <h2 v-show="showH2" class="alert alert succes">Your profit: {{sum}}!</h2>
            </transition>
            <hr>
            <app-progress v-bind:val="numbers.length" 
                          v-bind:max="maxNumbers">
            </app-progress>
            
            <hr>
            <button class="btn btn-succes" 
                v-on:click="addNumber"
                v-bind:disabled="done"
                >
                Add number
            </button>
            <hr>
            <ul class="list-group">
                <li class="list-group-item"
                    v-for="number in numbers">
                        {{ number }}
                </li>
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  

    <script>
        Vue.component('app-progress', {
            props: {
                max: Number,
                val: Number
            },
            computed: {
                width(){
                    let w = this.val / this.max * 100;

                    if(w > 100) {
                        w = 100;
                    }
                    else if(w < 0){
                        w = 0;
                    }
                    return {
                        width: w + '%'
                    }
                }
            },

            template: `
                <div class="progress">
                    <div class="progress-bar" v-bind:style="width">
                    </div>
                </div>
            `
        })
        let sample = new Vue({
            el: '.sample',
            data: {
               showH2: false,
               numbers: [],
               maxNumbers: 10
            },
            methods: {
                addNumber(){
                    if(!this.done){
                        let rnd = Math.floor(Math.random()*11) - 5;
                        this.numbers.push(rnd) ;
                    }
                }
                
            },
            computed: {
                sum() {
                    console.log(1)
                    let sum = 0;
                    for(let i = 0; i < this.numbers.length; i++) {
                        sum += this.numbers[i];
                    } 
                    return sum;
                },
                btnText () {
                    return this.showH2 ? 'Hide' : 'Show'
                },
                done(){
                    return this.numbers.length >= this.maxNumbers;
                }
            }
        });
    </script>
    
</body>

</html>