/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

body{
	font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper {
	overflow: hidden;
	min-height: 100%;

}
.container {
	max-width: 1130px;
	padding: 0 15px;

}
.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/*???*/
	display: flex;
	flex-direction: column;

}

.main-screen {
	flex: 1 0 100%;
	position: relative;

}

.main-screen__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.header {
	position: absolute;
	width: 100%;
	z-index: 50;
	left: 0;
	top: 35px;
}
.header__row {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85px;
}

.menu__list {
	display: flex;

}
li {
	padding: 0 37.5px;

}
li:nth-child(2){
	padding: 0 110px 0 37.5px;
}
li:nth-child(3){
	padding: 0 37.5px 0 110px;
}

.menu__link {
	font-size: 13px;
	font-weight: 700px;
	text-transform: uppercase;
	letter-spacing: 2.6px;
	color: #4d4959;
}
.header__logo {
	position: absolute;
	left: 50%;
	top: 0;
	padding: -50% 0px 0px 0px;

}
