/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.container {
	margin-left: 50px;
	border: 1px solid #000;
}

.width {
	
	width: 573px;
	height: 65px;
	margin: 50px 0 0 0px;
}
.psdding {
	display: block;
	
	margin-left: 47px;
	width: 171px;
}
.inlane_block {
	display: inline-block;
	
	margin-left: 75px;
}
.bottom {
	padding-bottom: 85px;
	margin-left: 35px;
	margin-top: 35px;
	
}
.width_div {
	width: 170px;
	margin-left: 35px;
	display: inline;
	
}
.inline {
	display: inline-block;
	margin-left: 100px;
	margin-right: 700px;
	
}
.inline_block_block {

	display:inline-block; 
	margin-top: 40px;
	margin-left: 80px;
	max-width: 540px;
	

}

.inlins_inl {
	
	display: inline-block;
	margin-left: 210px;
	
}
.inline_block_block_block {

	display: block;
	margin-top: 90px;

}