/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background: #e8e8e8 url('../img/Ellipse 1 copy.png') 140px 100px no-repeat;
	
}
.container {
	width: 842px;
	margin-top: 125px;
	margin-right: 290px;
	margin-left: 307px;
}
p.header {
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	color: #a6abad;
	letter-spacing: 5px;

}

h1 {
	font-family: Times New Roman ;
	font-size: 24px;
	text-align: center;
	line-height: 33px;
	margin-top: 28px;
	color: #273d46;
	word-spacing: px;
}

div.foto {
	width: 842px;
	height: 561px;
	border: 0.5px solid #000;
	margin-top: 75px;
	background: url('../img/light-man copy.png') center no-repeat;
	border:12px solid #fff; ;
	box-shadow: 1px 1px 20px #a4a4a4;
}
.paragraf {
	font-size: 16px;
	font-family: Times New Roman ;
	font-weight: 400;
	margin-left: 50px;
	margin-right: 55px;
	margin-top: 120px;
	line-height: 27px;
	color: #606c71;
}
.paragraf_2 {
	margin-top: 65px;
}
.list {
	margin-top: 40px;
	line-height: 24px;
	font-family: Arial;
	font-weight: 400;
}
.list li {
	font-size: 14px;
	background: url('../img/check icon.png') left 3px no-repeat;
	background-size: 18px;
	padding: 0px 0px 0px 30px;
	margin-left: -10px;
}
.one{
	color: #273d46;
	text-shadow: 1px 1px 1px #dadcdc;
}
.two {
	color: #80b7b3;
	font-style: oblique;
}
.three {
	font-weight: 700;
}
.four {
	color: #c2c5c6;
	text-decoration: line-through;
	text-shadow: 1px 1px 1px #dadcdc;
}

button {
	background:#80b7b3 url('../img/Shape 2.png') 150px 50% no-repeat ;
	color: #fff;
	width: 200px;
	height:45px ;
	border-radius: 100px;
	margin-top: 90px;
	margin-left: 50px;
	
	margin-bottom: 135px;
	box-shadow: 1px 1px 15px #80b7b3;
	text-transform: uppercase;
} 
