<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>дз1</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>

</head>
<body>
  
   <div id="app">
     <my-component></my-component>
     
   </div>

   <script>


    Vue.component('my-component', {

        template: '<div>\
                    <label> <input v-model.lazy="counter"/></label>\
                    <p>{{message}}</p>\
                    <button v-on:click="counterIncrement">+</button>\
                    <button v-on:click="counterDecrement">-</button>\
                  </div>',
        
       
        data: function () {

            return {
                counter: 0
            }
        },
        

        methods: {
            counterIncrement: function () {
                
                this.message =  +this.counter;
                this.message += 1;
                this.counter = ' ';
                this.$emit('increment')
                
            },
            counterDecrement: function () {
                this.counter = ' ';
                this.counter -= 1;
                this.$emit('decrement')
                
            }
        },

    })

    let sample = new Vue ({
        el: '#app',
       
    })
   </script>

   <style>
        p {
            border: 1px solid grey;
            width: 100px;
            height: 20px;
        }
   </style>
    
    
</body>
</html>