/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


/*что бы показать wrapper-оболочку на всю высоту экрана*/
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1180px;
	margin: 0 auto;

}

.content {
	flex: 1 1 auto;

}

.hi {
	background-color: #445162;
	padding: 50px 0;
}

.hi__row {
	display: flex;
	justify-content: space-between;

}

.hi__body {
	color: #fff;
	padding: 0 30px 0 0;

}

.hi__title {
	text-shadow: 1 1 0 rgba(0, 0, 0, 0.3);
	font-size: 60px;
	margin: 0 0 38px 0;
}

.hi__list li {
	background: url('../img/icons/icon.png') 0 1px no-repeat;
	text-shadow: 1 1 0 rgba(0, 0, 0, 0.3);
	font-size: 20px;
	line-height: 22px;
	padding: 0 0 0 36px;
	margin: 0 0 15px 0;
}

.hi__list li:last-child {
	margin: 0;
}

.footer {
	background-color: #f5f5f5;
}
.footer__row {
	height: 65px;
	display: flex;
	justify-content: center; /*вырав.по горизонт*/
	align-items: center;  /*вырав.по вертикали*/
}
.footer__text {
	color: #445162;
	font-size: 12px;
	letter-spacing: 0.3px;

}

.title {
	font-size: 30px;
	line-height: 36px;
	color: #445161;

}

.what {
	padding: 50px 0;
}

.what__title {
	margin: 0px 0px 33px 0px;

}

.what__rov {
	display: flex;

}

.what__image {
	flex: 0 0 430px;

}
.what__image img {
	max-width: 100%;
}

.what__body {
	flex: 1 1 auto;
	padding: 0px 0px 0px 38px;

}
.what__text p {
	margin: 0px 0px 25px 0 ;
	color: #333333;
	font-size: 16px;
	line-height: 24px;
}

.colums {
	background-color: #f5f5f5;
	padding: 50px 0px 20px 0px;
}

.colums__title {
	text-align: center;
	margin: 0px 0px 30px 0px;
}

.colums__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -8px;

}

.colums__colum {
	flex: 0 1 50%;
	margin-bottom: 30px;
	padding: 0px 8px;
}

.item__row {
	display: flex;

}

.item__image {
	flex: 0 0 200px;

}
.item__body {
	flex: 1 1 auto;
	padding: 0px 0px 0px 15px;
}

.item__text {
	color: #333333;
	font-size: 16px;
	line-height: 24px;
}

.item__title {
	color: #445161;
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 13px;
}

.vertical {
	padding: 50px 0px;
}

.vertical__title {
	text-align: center;
	margin: 0px 0px 30px 0px;

}

.vertical__body {
	max-width: 	990px;
	margin: 0 auto;

}

.vertical__row {
	display: flex;
	margin: 0px -22.5px;
}

.vertical__colum {
	flex: 0 1 33.333%;
	padding: 0px 22.5px ;
	display: flex;
}


.vertical__item {
	background-color: #445162;
	color: #fff;
	border-radius: 5px;
	border: 1px solid #445162;
	padding: 0px 0px 20px 0px;
	display: flex;
	flex-direction: column;
}

.vertical__subtitle {
	text-align: center;
	font-size: 24px;
	text-transform: uppercase;
	padding: 12px 0;

}
.vertical__label {
	text-align: center;
	background-color: #fff;
	color: #445162;
	font-size: 40px;
	padding: 12px 0;
}

.vertical__text {
	padding: 20px;
	font-size: 14px;
	line-height: 24px;
	flex: 1 1 auto;

}

.vertical__text p {
	margin: 0px 0px 15px 0px;
}

.vertical__text p:last-child{
	margin: 0px;
}

.vertical__btn {
	display: block;
	height: 40px;
	background-color: #fff;
	margin: 20px 0;
	line-height: 40px;
	text-align: center;
	border-radius: 5px;
	font-size: 18px;
}