<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>дз6</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>


</head>

<body>
    <script>

        window.onload = function () {
            let sample = new Vue({
                el: '#app',

                data: {
                    theData: '',
                    dataConvert: '',
                },

                filters: {
                    convertNotZerro: function (value) {
                        if (!value) {
                            return ''
                        }
                        value = value.replace(/[^a-z,^а-я]/g, '');  //виводимо текст без чисел
                        return value
                    },

                },

                methods: {
                    dellZeroo: function () {
                        if (!this.theData) { return '' }
                        let sem;
                        sem = this.theData.replace(/0*$/, "");  //видаляє останні нулі після крапки
                        
                        this.theData = sem.replace(/(?:^.)|(?:.$)/g, (a) => a.toUpperCase()) // переводимо першу і останню букву у верхній регістр
                        this.dataConvert = this.theData;
                        this.theData = ''

                    },

                },
            })
        }
    </script>

    <div id="app">
        <label for="">
            <input type="text" v-model.lazy="theData">
        </label>
        <button v-on:click.prevent="dellZeroo">Фільтр</button>
        <p v-cloak>{{theData | convertNotZerro }} {{dataConvert}} </p>

    </div>

    <style>
        div {
            margin: 10px;
        }
    </style>

</body>

</html>