<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>дз4</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>

</head>
<body>
    <script>
        window.onload = function () {
            let sample = new Vue ({
                el: '#app',
                data: {
                    links: [
                        {name:'Укрнет', hint:'Новини України', url:'https://www.ukr.net'},
                        {name:'Прямий канал', hint:'Патріотичні новини', url:'https://prm.ua'},
                        {name:'ВВС Україна', hint:'Світові новини', url:'https://www.bbc.com'},
                        {name:'Цензор нет', hint:'Військові новини', url:'https://censor.net'}
                    ]
                },

                methods: {
                    transitionlink: function (){
                        href= 'item.url' 
                    }
                },
            })
        }
    </script>

    <div id="app">
        <p>
            <nav>
                <ul class="pagginations">
                    <li class="page-item" v-for="(item, index) in links" :key="index">
                        <a  v-bind:href="item.url" v-bind:title="item.hint" class="page-link"><span>{{index+1}}</span> {{item.name}} </a>
                    </li>
                </ul>
            </nav>
        </p>
    </div>

    <style>
        li {
            list-style-type: none;
            margin: 20px auto;
        }

        a {
            text-decoration: none;
        }
    </style>
    
</body>
</html>