<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>дз1</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>

</head>

<body>

    <div id="app">
        <div>
            <div v-if="data==false"></div>
            <p v-else-if="data==true">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div>
            <button v-on:click="data=!data">Показати/прибрати текст</button>
        </div>
    </div>

    <style>
        div {
            margin: 10px;
        }

        p {
            border: solid burlywood 1px;
            border-radius: 10px;
            padding: 10px;
        }

        button {
            border: solid orange 1px;
            border-radius: 10px;
            background-color: coral;
            width: 300px;
            height: 80px;
            box-shadow: 10px 5px 5px rgb(148, 147, 147);
        }
    </style>

    <script>
        window.onload = function () {
            let sample = new Vue({
                el: '#app',
                data: {
                    data: false
                }
            })
        }
    </script>

</body>

</html>