<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>дз5</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>

</head>

<body>
    <script>
        window.onload = function () {
            let sample = new Vue({
                el: '#app',

                data: {
                    stydents: [
                        {name: 'Василь', surname: 'Петренко'},
                        {name: 'Віктор', surname: 'Сидоренко'},
                        {name: 'Сергій', surname: 'Гнатенко'},
                        {name: 'Олексій', surname: 'Василенко'},
                        {name: 'Петро', surname: 'Давиденко'},
                        {name: 'Володимир', surname: 'Матвієнко'}
                    
                    ],

                    currentNumber: '',
                    changedNumber: ''

                },

                methods: {
                    changeCurrentNumber: function (e) {
                        if (this.currentNumber == '' || this.changedNumber == '') {
                            e.preventDefault();
                            alert("введіть номера для заміни");
                        } 
                        else {
                            let cut = this.stydents[this.currentNumber-1]
                            this.stydents.splice((this.currentNumber - 1), 1);
                            this.stydents.splice((this.changedNumber-1), 0, cut);
                            this.currentNumber = '';
                            this.changedNumber = '';
                        }
                    }
                },
            })
        }
    </script>

    <div id="app">
        <div>
            <div>
                <label for="">
                    <input type="text" v-model="currentNumber"> поточний порядковий номер
                </label>
            </div>
            <div>
                <label for="">
                    <input type="text" v-model="changedNumber"> новий порядковий номер
                </label>
            </div>
            <button v-on:click="changeCurrentNumber">Оновити</button>
        </div>
        <ul>
            <li v-for="(stydent, index) in stydents" :key="index"> {{index+1}} {{stydent.name}} {{stydent.surname}}</li>
        </ul>
    </div>
    <style>
        div {
            margin: 10px;
        }

        input {
            width: 50px;
            margin: 0;
        }

        li {
            list-style-type: none;
        }
        button {
            border-radius: 5px;
            border: solid 1px rgb(17, 17, 213);
            background-color: rgb(41, 41, 211);
            width: 180px;
            height: 50px;
            color: white;
        }

        
    </style>

</body>

</html>