<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>дз2</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>

  
</head>
<body>
    <script>
        window.onload = function() {
            var sample = new Vue ({
                el: '#app',
                data: {
                    lengthStr: '',
                    borderColors: true
                },

               watch: {
                    lengthStr: function () {
                        this.updateBorderColors()
                }
               },
            //    created() {
            //     this.updateBorderColors()
            //    },
              
                methods: {
                    updateBorderColors: function() {
                        if(this.lengthStr.length >= 5) {
                            this.borderColors = false
                        } else {
                            this.borderColors = true
                        }
                    }
                },
            })
        }
    </script>

    <div id="app" class="table-bordered table-hover">
        <label for="input">
            <input v-bind:style="{borderColor:borderColors? 'grey':'red'}" v-model="lengthStr" type="text">
        </label>

        <button  v-if="lengthStr.length<5">Надіслати</button>
        
        <div>{{borderColors}}</div>

    </div>
    

    <style>
        div {
            margin: 10px;
        }

        button {
            border: solid  1px;
            background-color: rgb(248, 185, 108);
        }

        input:focus {
             outline: 0;

        }
    </style>
    
</body>
</html>