
<template>
    <div class="slick-single-layout">
        <div class="axil-product product-style-four">
            <div class="thumbnail">
                <a href="single-product.html">
                    <img data-sal="fade" data-sal-delay="400" data-sal-duration="1500"
                        src="@/assets/images/product/jewellery/product-4.png" alt="Product Images">
                </a>
                <div class="label-block label-right">
                    <div class="product-badget">30% OFF</div>
                </div>
                <div class="product-hover-action">
                    <ul class="cart-action">
                        <li class="wishlist"><a href="wishlist.html"><i class="far fa-heart"></i></a></li>
                        <li class="select-option"><a href="cart.html">Add to Cart</a></li>
                        <li class="quickview"><a href="#" data-bs-toggle="modal" data-bs-target="#quick-view-modal"><i
                                    class="far fa-eye"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="product-content">
                <div class="inner">
                    <h5 class="title"><a href="single-product.html">Diamond Ring</a></h5>
                    <div class="product-price-variant">
                        <span class="price old-price">$50</span>
                        <span class="price current-price">$40</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>