<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<body>
    <div id="sampl">
        hello!!!!!!!!!!!!!!
        <p>
            {{ name }}
            {{ work}}
        </p>
    </div>
   
    <script>
    
        let templ = new Vue ({
            el: document.querySelector('#sampl'),
            data: {name: 'Alex',
                   work: 'developer'
            }
        })
    </script>  
</body>
</html>