/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body {
	background: #e8e8e8;
}

.container {
	margin: 0 auto;
	max-width: 840px;
	margin-top: 125px;
	font-family: Arial;
	font-size: 14px;
	line-height: 24px;
}

.list_one li:nth-child(1) {
	text-decoration: line-through;
}
.list_one li:nth-child(2) {
	font-weight: 600;
}
.list_one li:nth-child(3) {
	font-style: oblique;
}
.list_one li:nth-child(4) {
	text-transform: uppercase;
}


.list_two {
	display: inline-block;
	margin-top:80px ;
}

.list_one li::before{
    content: " ";
    display: inline-block;
  	margin-right: 3px;
    width: 20px;
    height: 19px;
    background-image: url("../img/check icon.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: left 7px;

  }
.list_two li:before{
    content: " ";
    display: inline-block;
  	margin-right: 3px;
    width: 20px;
    height: 19px;
    background-image: url("../img/check icon.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: left 7px;
   	
  }

.list_two li:hover:before {
	background: url("../img/check icon1.png") 0 7px/ 15px  no-repeat;
	
}
.list_two li:hover {
	color: red;
}

.text_button {
	width: 200px;
	height: 45px;
	border-radius: 100px;
	margin-top: 140px;
	margin-left: 25px;
	background: #80b7b3;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	box-shadow: 0 0 10px #80b7b3;

}

.text_button:after{
	content: " ";
	display: inline-block;
  	margin-left: 3px;
    width: 20px;
    height: 19px;
    background-image: url("../img/Shape 2.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right 7px ;
 }
.text_button:hover{
	background: #3a5856;
}
.text_button:active{
	background: #818181;
	box-shadow:  0 0 0px #fff;
}


.paragraf_two {
	font-size: 12px;
	line-height: 19px;
	margin-top: 120px;
	padding-bottom: 120px;
	color: #000;
	max-width: 530px;
}

.paragraf_two:first-line {
	color: red;
}

.paragraf_two_two {
	margin-top: 50px;
}

.paragraf_two_two:first-letter {
	color: red;
}

