/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body{
	padding: 30px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.block {
	border: solid red 5px ;
	max-width: 820px;
	height: 500px;
	margin: 0 auto;
	
	
}

.block div {
	text-align: center;
	font-size: 18px;
	height: 50px;
	line-height: 50px;
}
.block__1 {
	background-color: yellow;
	position: sticky;
	left: 20px;
	top: 0px;
	width: 100%;
	
}
.block__2 {
	background-color: green;

}
.block__3 {
	background-color: blue;
	
}

.list {
	font-size: 18px;
	margin-top: 20px;


}

.list li {
	margin-bottom: 10px;
	padding-left: 30px;
	position: relative;

}
.list li:before {
	content: '';
	background: url('../img/check icon1.png') 0 0/18px no-repeat;
	width: 25px;
	height: 19px;
	position: absolute;
	top: 2px;
	left: 5px;

}