/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/


body {
	background: #e8e8e8;
}

div.list {
	margin-top: 160px;
	margin-left: 290px;
	margin-bottom: 50px;
	font-family: Arial;
	font-size: 14px;
	line-height: 24px;
}
li {
	background: url('../img/check icon.png') left 3px no-repeat;
	background-size: 18px;
	padding: 0px 0px 0px 30px;

}



.listtt li:nth-child(1) {
	text-decoration: line-through;
}
.listtt li:nth-child(2) {
	font-weight: 600;
}
.listtt li:nth-child(3) {
	font-style: oblique;
}
.listtt li:nth-child(4) {
	text-transform: uppercase;
}

.lister  {
	margin-top: 90px;
}
.lister li:hover {
	color: red;
	background: url('../img/check icon1.png') left 3px no-repeat;
	background-size: 18px;
}

form {
	margin-top: 137px;
	margin-left: 315px;
}

button {
	width: 200px;
	height:40px ;
	border-radius: 100px;
	background: #80b7b3 url('../img/Shape 2.png') 150px 50% no-repeat;
	color: #fff;
	font-size: 10px;
	text-transform: uppercase;
	font-family: Arial;
	letter-spacing: 2px;
	box-shadow: 1px 1px 15px #80b7b3;

} 

button:hover {
	background: #3a5856 url('../img/Shape 2.png') 150px 50% no-repeat;
}
button:active {
	background: #818181 url('../img/Shape 2.png') 150px 50% no-repeat;
}

input {
	margin-top: 125px;
	width: 295px;
	height: 50px;
	border: solid 0.5px #b0b0b0;
	font-size: 14px;
	padding-left: 10px;

}

input:focus {
	box-shadow: 0px 0px 10px #80b7b3;
	}
