body {
	font-family: 'Manrope', sans-serif;
	font-size: 15px;
	color: #1c1c1b;
	line-height: 1.6;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

*, 
*: before,
*: after {
	box-sizing: border-box;
}
/*container*/
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;	
}

/*desinger foto*/
.foto { 
	background: url(../img/Foto.png) center no-repeat;
	background-size: cover;
	width: 560px;
	height: 560px;
	margin-left: 50px;
	
}
.elips {
	position: absolute;
   margin-top: 110px;
}
.blelips {
	width: 165px;
	height: 137px;
}
.sign {
	font-family: manrope;
	font-size: 15px;
	font-weight: 500;
	width: 90px;
	text-transform: uppercase;
	line-height: 1.1;
	color: #fff;
	position: absolute;
	margin-top: 49px;
	margin-left: 35px;
}
.free {
	font-family: corben;
	font-weight: 700;
	font-size: 23px;

}

/*intro*/
.intro {
	width: 100%;
	height: 100vh;
	background: url(../img/backgraund.jpg) center no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;


}
.intro_inner {
	width: 100%;
	max-width: 480px;
	/*margin: 0 auto;*/
}


.intro_suptitle {
	margin-bottom: 50px;
	font-size: 17px;
	font-family: manrope;
	font-weight: 500;
	text-transform: uppercase;
	
}
.intro_title {
	font-size: 45px;
	font-family: corben;
	font-weight: 400;
	margin-bottom: 35px;
	line-height: 1em;
}
.subtitle {
	font-size: 17px;
	font-family: manrope;
	font-weight: 500;
	max-width: 300px;
	width: 100%;
	margin-bottom: 40px;
	
}

/*button*/
.btn {
	display: inline-block;
	vertical-align: top;
	background: #5249f9;
	padding: 15px 50px;
	text-transform: uppercase;
	color: #fff;
	font-family: manrope;
	font-weight: 800;
	font-size: 15px;
	border-radius: 10px;
	text-decoration: none;
	transition: backgraund .1s linear, color .1s linear
}
.btn:hover {
	background-color: #766ffa;
	color: #484747;
}


/*header*/
	.header {
	
	width: 100;
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
	z-index: 1000;

}

.header_inner {
	display: flex;
	justify-content: space-between;
	
}

.header_logo {
	background: url(../img/logo.png) center top; no-repeat ;
	width: 96px;
	height: 109px;
	background-size: cover;
	
}

/*nav*/
.nav {
	
	font-family:'Manrope', sans-serif ;
	font-weight: 200;
}

/*навигация*/

.nav {
	font-size: 17px;
	text-transform: uppercase;
}

.nav_link {
	display: inline-block;
	vertical-align: top;
	margin: 0 30px;
	position: relative;
	
	color: #787878;
	text-decoration: none;

	transition: color .1s linear;

	
}
.nav_link:after {
	content: "";
	display: block;
	width: 100%;
	height: 1.7px;
	background: #313130;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	opacity: 0;
	transition: opacity .1s linear;
}

.nav_link:hover {
	color: #313130;
}
.nav_link:hover:after {
	display: block;
	opacity: 1;
}

.social {
	position: absolute;
	margin-top: 60px;
}

.cocial_link {
	text-decoration: none;
}
.site {
	position: absolute;
	margin-top: 90px;
	font-size: 12px;
	font-family: manrope;
	font-weight: 300;
	text-transform: uppercase;
	
}
.site_link {
	text-decoration: none;
	transition: color .1s linear;
	color: #787878 ;



}


.site_link:hover {
	color: #000 ;
	transition: opacity .1s linear;


}
.site_link:hover:after {
	display: block;
	opacity: 1;
	transition: opacity .1s linear;
}